html {
    font-size: 10px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;    /* 1.6 rem = 10 px * 1.6 */
    line-height: 1.5;
    text-align: center;
    color: #000;
    margin: 0;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: rgb(218, 0, 238);
}

h1:hover{
    transform: scale(1.1);
    color: rgb(196, 0, 108);
}
@media (max-width: 460px) {
    h1 {
        font-size: 3rem;
        line-height: 1.2;
    }
}

a {
    color: #00f;
    text-decoration: none;
}

a:visited {
    color: rgb(115, 123, 243);
}

#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: rgb(255, 198, 220);
}

@media (max-width:460px) {
    #main {
        margin: 10px;
    }
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    border-radius: 2px;
}

#img-div {
    background: rgba(255, 0, 64, 0.534);
    border-radius: 2px;
    padding: 10px;
    margin: 0;
}

#img-caption {
    margin: 15px 0 5px 0;
}

@media(max-width: 460px) {
    #img-caption {
        font-size: 1.4rem;
    }
}

#headline {
    margin: 50px 0;
    text-align: center;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li {
    margin: 16px 0;
}

blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
}
